body { background: #a71d58; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 21px; display: flex; }
.block-invoice-0 { color: #475ce4; font-size: 19px; margin-bottom: 5px; }
.block-uploader-1 { color: #a5ab68; font-size: 13px; margin-bottom: 5px; }
.block-invoice-2 { color: #b62229; font-size: 17px; margin-bottom: 5px; }
.block-router-3 { color: #b0d63a; font-size: 12px; margin-bottom: 5px; }
.block-router-4 { color: #8684f7; font-size: 18px; margin-bottom: 5px; }